In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv('cheat.csv')
dt = pd.read_csv('test.csv')

In [28]:
def form(string):
    ll=string.split()
    s=ll[0]+'. '
    for i in range(1,len(ll)):
        s+=ll[i]+' '
    s=s[:-1]
    return s

In [34]:
df.loc[df['survived']=='†', 'survived'] = 0
df['survived']=df['survived'].fillna(1)
df['Name']=df['Surname']+', '+df['First Names'].apply(form)
df[['Name','survived']]

                                                   Name  survived
0                         Allen, Miss. Elisabeth Walton         1
1                  Allison, Mr. Hudson Joshua Creighton         0
2                            Allison, Mrs. Bessie Waldo         0
3                          Allison, Miss. Helen Loraine         0
4                        Allison, Master. Hudson Trevor         1
5                                   Anderson, Mr. Harry         1
6                     Andrews, Miss. Kornelia Theodosia         1
7                                   Andrews, Mr. Thomas         0
8                              Appleton, Mrs. Charlotte         1
9                               Artagaveytia, Mr. Ramon         0
10                           Astor, Colonel. John Jacob         0
11                        Astor, Mrs. Madeleine Talmage         1
12             Aubart, Mme.. Léontine Pauline "Ninette"         1
13    Barber, Miss. Ellen Mary (Maid to Mrs Tyrell W...         1
14                        Barkworth, Mr. Algernon Henry         1
15    Bassani, Mrs. Albina (Maid to Mrs William Robe...         1
16                                 Baumann, Mr. John D.         0
17                                  Baxter, Mrs. Hélène         1
18                             Baxter, Mr. Quigg Edmond         0
19                                 Beattie, Mr. Thomson         0
20                        Beckwith, Mr. Richard Leonard         1
21                                Beckwith, Mrs. Sallie         1
22                                Behr, Mr. Karl Howell         1
23    Bessette, Miss. Nellie Mayo (Maid to Mrs Ella ...         1
24    Bidois, Miss. Rosalie (Maid to Mrs John Jacob ...         1
25    Bird, Miss. Ellen (Maid to Mr & Mrs Isodor Str...         1
26                                  Birnbaum, Mr. Jakob         0
27                             Bishop, Mr. Dickinson H.         1
28                                   Bishop, Mrs. Helen         1
29            Björnström-Steffansson, Mr. Mauritz Hokan         1
...                                                 ...       ...
1287                             Vendel, Mr. Olof Edvin         0
1288               Veström, Miss. Hulda Amanda Adolfina         0
1289                                    Vovk, Mr. Janko         0
1290                               Waelens, Mr. Achille         0
1291                                Ware, Mr. Frederick         0
1292                        Warren, Mr. Charles William         0
1293                            Wazli, Mr. Yousif Ahmed         0
1294                                  Webber, Mr. James         0
1295                            Wennerström, Mr. August         1
1296                           Widegren, Mr. Carl Peter         0
1297                            Wiklund, Mr. Karl Johan         0
1298                          Wiklund, Mr. Jakob Alfred         0
1299                                 Wilkes, Mrs. Ellen         1
1300                                  Willer, Mr. Aaron         0
1301                            Willey, Mr. Edward John         0
1302                          Williams, Mr. Howard Hugh         0
1303                               Williams, Mr. Leslie         0
1304                                Windeløv, Mr. Einar         0
1305                                   Wirz, Mr. Albert         0
1306                              Wiseman, Mr. Philippe         0
1307                Wittevrongel, Mr. Camilius Aloysius         0
1308                                Yasbeck, Mr. Antoni         1
1309                               Yazbeck, Mrs. Selini         0
1310                                Yūsuf, Mrs. Kātr īn         1
1311                    Yousseff (Abi Saab), Mr. Gerios         0
1312                     Youssiff (Sam'Aan), Mr. Gerios         0
1313                                Zakarian, Mr. Ortin         0
1314                          Zakarian, Mr. Mapriededer         0
1315                                  Zenni, Mr. Philip         1
1316                                Zimmermann, Mr. Leo         0

[1317 rows x 2 columns]

In [35]:
dt[['PassengerId','Name']]

     PassengerId                                               Name
0            892                                   Kelly, Mr. James
1            893                   Wilkes, Mrs. James (Ellen Needs)
2            894                          Myles, Mr. Thomas Francis
3            895                                   Wirz, Mr. Albert
4            896       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897                         Svensson, Mr. Johan Cervin
6            898                               Connolly, Miss. Kate
7            899                       Caldwell, Mr. Albert Francis
8            900          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901                            Davies, Mr. John Samuel
10           902                                   Ilieff, Mr. Ylio
11           903                         Jones, Mr. Charles Cresson
12           904      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905                               Howard, Mr. Benjamin
14           906  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908                                  Keane, Mr. Daniel
17           909                                  Assaf, Mr. Gerios
18           910                       Ilmakangas, Miss. Ida Livija
19           911              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912                             Rothschild, Mr. Martin
21           913                          Olsen, Master. Artur Karl
22           914               Flegenheim, Mrs. Alfred (Antoinette)
23           915                    Williams, Mr. Richard Norris II
24           916    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917                            Robins, Mr. Alexander A
26           918                       Ostby, Miss. Helene Ragnhild
27           919                                  Daher, Mr. Shedid
28           920                            Brady, Mr. John Bertram
29           921                                  Samaan, Mr. Elias
..           ...                                                ...
388         1280                               Canavan, Mr. Patrick
389         1281                        Palsson, Master. Paul Folke
390         1282                         Payne, Mr. Vivian Ponsonby
391         1283     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284                      Abbott, Master. Eugene Joseph
393         1285                               Gilbert, Mr. William
394         1286                           Kink-Heilmann, Mr. Anton
395         1287     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288                               Colbert, Mr. Patrick
397         1289  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290                     Larsson-Rondberg, Mr. Edvard A
399         1291                           Conlon, Mr. Thomas Henry
400         1292                            Bonnell, Miss. Caroline
401         1293                                    Gale, Mr. Harry
402         1294                     Gibson, Miss. Dorothy Winifred
403         1295                             Carrau, Mr. Jose Pedro
404         1296                       Frauenthal, Mr. Isaac Gerald
405         1297       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298                          Ware, Mr. William Jeffery
407         1299                         Widener, Mr. George Dunton
408         1300                    Riordan, Miss. Johanna Hannah""
409         1301                          Peacock, Miss. Treasteall
410         1302                             Naughton, Miss. Hannah
411         1303    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304                     Henriksson, Miss. Jenny Lovisa
413         1305                                 Spector, Mr. Woolf
414         1306                       Oliva y Ocana, Dona. Fermina
415         1307                       Saether, Mr. Simon Sivertsen
416         1308                                Ware, Mr. Frederick
417         1309                           Peter, Master. Michael J

[418 rows x 2 columns]

In [44]:
result = pd.merge(dt[['PassengerId','Name']],df[['Name','survived']], on='Name',how='left')

In [48]:
result.isnull().sum()

PassengerId      0
Name             0
survived       200
dtype: int64

In [52]:
result=result.drop(0)

In [53]:
result

     PassengerId                                               Name  survived
1            892                                   Kelly, Mr. James       0.0
2            893                   Wilkes, Mrs. James (Ellen Needs)       NaN
3            894                          Myles, Mr. Thomas Francis       0.0
4            895                                   Wirz, Mr. Albert       0.0
5            896       Hirvonen, Mrs. Alexander (Helga E Lindqvist)       NaN
6            897                         Svensson, Mr. Johan Cervin       1.0
7            898                               Connolly, Miss. Kate       0.0
8            899                       Caldwell, Mr. Albert Francis       1.0
9            900          Abrahim, Mrs. Joseph (Sophie Halaut Easu)       NaN
10           901                            Davies, Mr. John Samuel       NaN
11           902                                   Ilieff, Mr. Ylio       0.0
12           903                         Jones, Mr. Charles Cresson       0.0
13           904      Snyder, Mrs. John Pillsbury (Nelle Stevenson)       NaN
14           905                               Howard, Mr. Benjamin       0.0
15           906  Chaffee, Mrs. Herbert Fuller (Carrie Constance...       NaN
16           907      del Carlo, Mrs. Sebastiano (Argenia Genovesi)       NaN
17           908                                  Keane, Mr. Daniel       0.0
18           909                                  Assaf, Mr. Gerios       NaN
19           910                       Ilmakangas, Miss. Ida Livija       0.0
20           911              Assaf Khalil, Mrs. Mariana (Miriam")"       NaN
21           912                             Rothschild, Mr. Martin       0.0
22           913                          Olsen, Master. Artur Karl       1.0
23           914               Flegenheim, Mrs. Alfred (Antoinette)       NaN
24           915                    Williams, Mr. Richard Norris II       1.0
25           916    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)       NaN
26           917                            Robins, Mr. Alexander A       NaN
27           918                       Ostby, Miss. Helene Ragnhild       NaN
28           919                                  Daher, Mr. Shedid       NaN
29           920                            Brady, Mr. John Bertram       0.0
30           921                                  Samaan, Mr. Elias       0.0
..           ...                                                ...       ...
389         1280                               Canavan, Mr. Patrick       0.0
390         1281                        Palsson, Master. Paul Folke       NaN
391         1282                         Payne, Mr. Vivian Ponsonby       NaN
392         1283     Lines, Mrs. Ernest H (Elizabeth Lindsey James)       NaN
393         1284                      Abbott, Master. Eugene Joseph       NaN
394         1285                               Gilbert, Mr. William       0.0
395         1286                           Kink-Heilmann, Mr. Anton       NaN
396         1287     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)       NaN
397         1288                               Colbert, Mr. Patrick       0.0
398         1289  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...       NaN
399         1290                     Larsson-Rondberg, Mr. Edvard A       NaN
400         1291                           Conlon, Mr. Thomas Henry       NaN
401         1292                            Bonnell, Miss. Caroline       1.0
402         1293                                    Gale, Mr. Harry       0.0
403         1294                     Gibson, Miss. Dorothy Winifred       1.0
404         1295                             Carrau, Mr. Jose Pedro       NaN
405         1296                       Frauenthal, Mr. Isaac Gerald       1.0
406         1297       Nourney, Mr. Alfred (Baron von Drachstedt")"       NaN
407         1298                          Ware, Mr. William Jeffery       0.0
408         1299                         Widener, Mr. George Dunton       0.0
409         1300                    Riordan, Miss. Johanna Hannah""       NaN
410         1301                          Peacock, Miss. Treasteall       0.0
411         1302                             Naughton, Miss. Hannah       0.0
412         1303    Minahan, Mrs. William Edward (Lillian E Thorpe)       NaN
413         1304                     Henriksson, Miss. Jenny Lovisa       0.0
414         1305                                 Spector, Mr. Woolf       0.0
415         1306                       Oliva y Ocana, Dona. Fermina       NaN
416         1307                       Saether, Mr. Simon Sivertsen       NaN
417         1308                                Ware, Mr. Frederick       0.0
418         1309                           Peter, Master. Michael J       NaN

[418 rows x 3 columns]

In [54]:
result.to_csv('cheatsubmission.csv',index=False)